//======= BASE =======//

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    color: #000;
    background-color: #fff;
    font-family: sans-serif, Arial, serif;
}

a {
    text-decoration: none;
}

section, .page {
    height: 100vh;
    padding: 1rem;
}